body,
html {
  margin: 0 auto;
  background: whitesmoke;
}

html {
  overflow-y: scroll;
}

h1 {
  margin-block: 10px;
}

.homepage-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.5em;
  border-bottom: solid 1px;
  background: #e6830d;
  color: whitesmoke;
  margin: 0;
  position: fixed;
  height: 100px;
  z-index: 10;
}

.logocontainer {
  display: flex;
  width: 30%;
}

picture {
  transition: transform 150ms;
}

picture:hover,
.picture:active {
  transform: scale(1.05);
}

.fas:hover,
.fas:active {
  font-size: larger;
}

#inputcontainer {
  display: flex;
  width: 40%;
  padding: 2%;
}

#searchbar {
  width: 100%;
  text-overflow: ellipsis;
  border: none;
  padding: 2px;
}

#searchbtn {
  border-radius: 0px 4px 4px 0px;
  background-color: #e6b90d;
  width: 30px;
}

#login-signup {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  flex-wrap: wrap;
  font-weight: 500;
  align-items: center;
}

#formy {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: initial;
  width: 100%;
}

::placeholder {
  text-transform: capitalize;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px bisque inset !important;
}

input:focus {
  border: 2px solid #587c03;
}

.loginForm {
  min-width: 280px;
  max-width: 420px;
  width: 80%;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: ghostwhite;
  font-size: large;
}

button a:hover {
  font-size: initial;
}

.prodContainer {
  position: relative;
  top: 100px;
  /* background: whitesmoke; */
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.product {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  width: 30%;
  padding: 1.5rem;
  border: 1px solid lightgrey;
  box-shadow: 4px 5px 5px lightgrey;
  margin: 25px;
  border-radius: 4px;
  background: white;
}

.addToCart {
  width: 90%;
}
#carty {
  position: relative;
}

@keyframes bounce {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 1px;
  }
  50% {
    bottom: 2px;
  }
  75% {
    bottom: 1px;
  }
  100% {
    bottom: 0px;
  }
}

#prodDescrip {
  font-size: 0.9em;
  overflow-y: hidden;
  padding-bottom: 5px;
}

.productPrice {
  font-weight: bold;
  color: white;
  background: #587c03;
  width: 25%;
  margin: auto;
  margin-bottom: 5px;
}

#alertBox {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: outset 1px black;
  border-radius: 4px;
  padding: 20px;
  background: bisque;
  filter: drop-shadow(2px 3px 4px black);
  width: 80%;
  max-width: 350px;
  text-align: center;
  grid-template-rows: repeat(2, 1fr);
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

tr {
  height: 100%;
  width: 100%;
  text-align: center;
  background: white;
}

th {
  text-align: center;
}

table {
  width: 40%;
  table-layout: fixed;
  filter: drop-shadow(2px 4px 6px grey);
}

td {
  padding: 1rem;
  width: 25%;
}

tfoot {
  border-top: 2px solid #e6830d;
}

button {
  color: whitesmoke;
  background-color: #74a304;
  border: none;
  border-radius: 4px;
  height: 30px;
  filter: drop-shadow(1px 1px 1px #253501);
}

#cartItems {
  width: 100%;
}

#cartHead {
  color: whitesmoke;
  background: linear-gradient(#e6830d, #cd6f00);
  padding: 2px;
  height: 30px;
}

.removeItem {
  width: 100%;
  display: flow-root;
}

button:hover {
  font-weight: bold;
  color: ghostwhite;
  filter: drop-shadow(2px 1px 2px #253501);
}

.formBtn,
.formInput {
  width: 100%;
  margin-block: 5px;
  padding: 2px;
}
.formInput {
  border: 2px inset;
  border-radius: 4px;
  height: 30px;
}

#cardInput {
  padding: 6px;
  background: whitesmoke;
}

#checkout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
}

input {
  outline: none;
}

.clearCart {
  background-color: #587c03;
  width: 100%;
}

#clearCartField {
  width: 50%;
}

.formInputContainer {
  display: flex;
}

#qtybtnContainer {
  display: flex;
}

#wlcmMsg {
  display: flex;
  font-size: 2vh;
}

a p {
  color: black;
}

.cartBtns {
  width: 100%;
}

label {
  font-weight: bold;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 1px solid #587c03;
  overflow: hidden;
}
::-webkit-progress-value {
  background-color: #587c03;
}
::-webkit-progress-bar {
  background-color: white;
}

@media only screen and (max-width: 700px) {
  .product {
    width: 75%;
  }
  table {
    width: 75%;
  }
  #checkout {
    display: block;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: small;
  }
  table {
    width: 90%;
  }
}

@counter-style banana {
  symbols: \1f34c;
  suffix: " ";
}

@counter-style apple {
  symbols: \1f34e;
  suffix: " ";
}

@counter-style orange {
  symbols: \1f34a;
  suffix: " ";
}

@counter-style peach {
  symbols: \1f351;
  suffix: " ";
}

@counter-style melon {
  symbols: \1f348;
  suffix: " ";
}

@counter-style blueberries {
  symbols: \1fad0;
  suffix: " ";
}
